{{page-title "Items"}}
Total Items: {{this.model.length}}
<div class="flex flex-col">
  {{#each this.model as |item|}}
    <LinkTo @route="items.view" @model={{item.id}}>{{item.description}}</LinkTo>
  {{/each}}
</div>
