{{page-title "Items"}}
<div class="flex flex-col space-y-6">
  <LinkTo @route="items.create" class="button">Add Item</LinkTo>
  <div class="w-64">
    {{#each this.model as |item|}}
      <LinkTo @route="items.view" class="block" @model={{item.id}}>{{item.description}}</LinkTo>
    {{/each}}
  </div>
</div>
