@tailwind base;
@tailwind components;
@tailwind utilities;

@import "ember-power-calendar";

input {
  border: thin solid black;
}

label {
  font-weight: bold;
}

button.button,
a.button {
  @apply w-32;
  text-align: center;
  background-color: darkolivegreen;
  color: white;
  padding: 8px;
  &.delete {
    background-color: darkred;
  }
  &.edit {
    background-color: grey;
    color: black;
  }
  &:hover {
    text-decoration: none;
  }
}

table {
  tr {
    th {
      font-weight: bold;
      background: lightgray;
      border: solid thin black;
    }
    td {
      border: solid thin black;
    }
  }
}

a {
  color: blue;
  &:hover {
    text-decoration: underline;
  }
}

.loading-wrapper {
  position:fixed;
  z-index: 200000;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: transparentize(black, .6);
  .spinner-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    color: gold;
  }
}

.profit-margin {
  &.low {
    color: darkred;
  }
  &.mid {
    color: darkorange;
  }
  &.high {
    color: darkgreen;
  }
}
