@tailwind base;
@tailwind components;
@tailwind utilities;

@import "ember-power-calendar";

input {
  border: thin solid black;
}

button.button,
a.button {
  @apply w-32;
  text-align: center;
  background-color: darkolivegreen;
  color: white;
  padding: 8px;
  &.delete {
    background-color: darkred;
  }
  &:hover {
    text-decoration: none;
  }
}

table {
  tr {
    th {
      font-weight: bold;
      background: lightgray;
      border: solid thin black;
    }
    td {
      border: solid thin black;
    }
  }
}

a {
  &:hover {
    text-decoration: underline;
  }
}
